In [1]:
names =['arsalan','khalid','naveed']
names.insert(1,'basha')
print(names)

['arsalan', 'basha', 'khalid', 'naveed']

In [3]:
names.pop()
print(names)

['arsalan', 'basha']

In [4]:
names.append('ahmad')
names.append('talha')
print(names)

['arsalan', 'basha', 'ahmad', 'talha']

In [5]:
names.remove('talha')
print(names)

['arsalan', 'basha', 'ahmad']

In [8]:
num =[1,3,2,5,2,8,6,5,78,9,56,34,3,45,7,5,4,3,5,78,22,6,8,5,34]
num.sort(reverse=True)
print(num)

[78, 78, 56, 45, 34, 34, 22, 9, 8, 8, 7, 6, 6, 5, 5, 5, 5, 5, 4, 3, 3, 3, 2, 2, 1]

In [12]:
mylist = [2,3,4,5,3,45,4,23,5,6,7,8]
data = mylist[4::2]
print(data)

[3, 4, 5, 7]

In [13]:
list1 = ['arsalan','ahmad','bilal','basit']
for a in list1:
    print(a)

arsalan
ahmad
bilal
basit

In [16]:
for b in range(len(list1)):
    print(b)

0
1
2
3

In [23]:
for c in range(1,20):
    print(c)
    if c == 12:
        break

1
2
3
4
5
6
7
8
9
10
11
12

In [26]:
num = int(input('Enter your num'))
if num%2 == 0:
    print(f'your number {num} is a even number')
else:
    print(f'your number {num} is a odd number')

Enter your num43
your number 43 is a odd number

In [27]:
numb = [1,2,3,4,5,6,7,8,9,90,24,235,5,4,7,4,8,3,5,3,4,45,7,4,54,454,33,66,77,55,44,33,33,22,22,11]
even =[]
odd = []
for g in numb:
    if g%2==0:
        even.append(g)
    else:
        odd.append(g)
print(even)
print(odd)

[2, 4, 6, 8, 90, 24, 4, 4, 8, 4, 4, 54, 454, 66, 44, 22, 22]
[1, 3, 5, 7, 9, 235, 5, 7, 3, 5, 3, 45, 7, 33, 77, 55, 33, 33, 11]